/*

        Style des éléments fixes

*/

body {
    background-color: #003f88 !important;
    font-family: "Gotham", "Helvetica";
    color: #FFC300 !important;
}

header{
    background-color: #FFC300;
    color: black;
    font-family: "Gotham-Bold", "Helvetica";
    height: 50px;
    box-shadow: 0px 0px 8px black;
}

header a p{
    margin-top: 15px;
    color: black;
    text-align: end;
    margin-right: 20px;
}
header img{
    margin-top: 8px;
    margin-left: 20px;
}

h1 {
    font-size: 60px;
}

h2 {
    border: solid 3px #ffc300;
    font-size: 10px;
    padding: 4px;
}

#titre-escape-game {
    margin: 250px 0px 50px 0px;
}

#texte-regles {
    margin: 50px 0px 50px 0px;
    line-height: 35px;
    color: #ebebeb;
    font-size: 20px;
}

#conteneur-regles{
    margin-top: 100px;
}


/*

        Style et animations du call to action pour switcher vers une autre page

*/
#icon-cta-next {
    width: 170px;
}

.svg-cta-next {
    stroke: #003f88;
    stroke-width: 14;
    stroke-miterlimit: 10;
}

.svg-texte-cta-next {
    fill: #FFC300;
}

#icon-cta-next:hover .svg-cercle-cta-next {
    animation-name: anim-cta-next;
    animation-duration: 1000ms;
    animation-timing-function: ease;
    animation-delay: 0s;
}

.svg-cercle-cta-next {
    stroke: #FFC300;
    stroke-width: 14;
    stroke-miterlimit: 10;
}

#icon-cta-next:hover .svg-texte-cta-next {
    display: none;
}

@keyframes anim-cta-next {
    from {
        transform: translate(0%, 0%);
    }
    to {
        transform: translate(72%, 0%);
    }
}

#cta-next-defi {
    display: none;
    margin: auto;
}

/*

        Style et animation du call to action pour revenir en arrière

 */
#cta-retour {
    width: 30px;
}

/*

       Style des éléments des différentes pièces de l'escape game

*/

#lieu{
    margin: 0;
    padding: 0;
}

#illu-buffet {
    width: 200px;
    position: absolute;
    top: 230px;
    left: 500px;
}

#nbr-cache {
    font-size: 20px;
    width: 60px;
    position: absolute;
    top: 71px;
    left: 600px;
}

#astuce-cache {
    font-size: 20px;
    width: 100px;
    position: absolute;
    top: 71px;
    right: 50px;
    color: black;
}

#astuce-cache:hover {
    animation-name: anime-calcul;
    animation-delay: 0s;
    animation-duration: 500ms;
}

#illu-cadre {
    width: 60px;
    position: absolute;
    top: 50px;
    left: 570px;
}

#illu-cadre:active {
    animation-name: anim-cadre;
    animation-delay: 0s;
    animation-duration: 500ms;
}

@keyframes anim-cadre {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(0px, 200px);
    }
}

#trait-entree {
    border: solid 2px black;
    position: absolute;
    top: 313px;
    width: 100%;
}

#illu-nbr {
    width: 300px;
    padding-top: 35px;
}

#illu-plante {
    position: absolute;
    width: 100px;
    top: 245px;
    left: 720px;
}

#illu-chaussures {
    position: absolute;
    width: 80px;
    top: 280px;
    left: 60px;
}

#illu-chapeau {
    position: absolute;
    width: 200px;
    top: 70px;
    left: 850px;
}

#illu-ball {
    position: absolute;
    width: 80px;
    top: 340px;
    left: 300px;
}

.color-ball {
    fill: #FFC300;
}

#illu-ball:hover .color-ball {
    fill: black;
}

#calcul {
    font-size: 30px;
    font-family: "Gotham", "Arial";
    position: absolute;
    top: 30px;
    left: 45px;
    width: 100px;
    color: black;
}

#calcul:hover {
    animation-name: anime-calcul;
    animation-delay: 0s;
    animation-duration: 500ms;
}

@keyframes anime-calcul {
    from {
        color: #003f88;
    }
    to {
        color: #ebebeb;
    }
}

/*

        Animation des éléments des pièce de l'escape game

*/


/*

        Style du mot de passe

*/

.contour-mdp {
    fill: none;
    stroke: #ffc300;
    stroke-width: 15;
    stroke-miterlimit: 10;
}

#colonne-mdp {
    margin-top: 450px;
    background-color: black;
    box-shadow: 0px 0px 8px black;
    width: 1000px;
}

#conteneur-mdp {
    border-radius: 15px;
   /* box-shadow: 0px 0px 5px black; */
    padding: 30px;
    width: 300px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: black;
}

.num-mdp {
    width: 200px;
    height: 66px;
    margin: auto;
    background-color: #FFC300;
    border: none;
    font-family: "Gotham-Bold", "Helvetica";
    font-size: 50px;
    color: black;
    text-align: center;
}

#svg-illu-mdp {
    width: 200px;

}


/*

        Style et animations du pad numérique

*/
.couleur-pad-num {
    fill: #FFC300;
}

.conteneur-num {
    fill: none;
}

#conteneur-pad-num {
    border-radius: 15px;
    width: 330px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: auto;
    background-color: black;
}

.num-pad {
    font-family: "Gotham-Bold", "Helvetica";
    font-size: 50px;
    color: black;
    background-color: #FFC300;
    margin: 10px;
    width: 70px;
    height: 40px;
}

.num-pad:hover {
    background-color: #ebebeb;
}

.num-pad:active {
    animation-name: anim-num-pad-active;
    animation-delay: 0s;
    animation-duration: 200ms;
}

@keyframes anim-num-pad-active {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3);
    }
}


/*

        Style du bouton pour valider le mot de passe inscrit par l'utilisateur

 */

#correction img{
    width: 40px;
    margin-top: 10px;
}


/*

        Style des indices

 */

.indices {
    width: 500px;
    position: absolute;
    background-color: #FFC300;
    text-align: center;
    color: black;
    right: 300px;
    top: -462px;
}

#indice1 {
    display: none;
}

#indice2 {
    display: none;
}

#indice3 {
    display: none;
}