/*

        Importation de la font "Gotham"

*/

@font-face {
    font-family: "Gotham";
    src: url("font/Gotham-Font/Gotham-Black.otf") format("otf");
    src: url("font/Gotham-Font/Gotham-Bold.otf") format("otf");
    src: url("font/Gotham-Font/Gotham-Light.otf") format("otf");
    src: url("font/Gotham-Font/Gotham-BookItalic.otf") format("otf");
}

/*

        Style des éléments fixes

*/

body {
    background-color: #143642 !important;
    font-family: "Gotham-Book-Italic", "Helvetica";
    color: #FFFFFF !important;
    z-index: auto;
}

header {
    background-color: #FFFFFF;
    color: #B76935;
    font-family: "Gotham-Bold", "Helvetica";
    height: 50px;
    box-shadow: 0px 0px 8px black;
}

#a-propos {
    margin-top: 15px;
    color: #B76935 !important;
    text-align: end;
    margin-right: 20px;
}

#a-propos:hover {
    color: #143642 !important;
}

#quitter {
    color: #B76935;
    margin-top: 15px;
    text-align: center;
    font-family: "Gotham-Bold", "Helvetica";
}

#quitter:hover {
    color: #143642 !important;
}


header img {
    margin-top: 8px;
    margin-left: 20px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 10px;
    padding: 4px;
}

#titre-escape-game {
    margin: 250px 0px 50px 0px;
}

#texte-regles {
    margin: 50px 0px 50px 0px;
    line-height: 35px;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Gotham", "Helvetica";
}

#conteneur-regles {
    margin-top: 100px;
}


/*

        Style et animations du call to action pour switcher vers une autre page

*/
#icon-cta-next {
    width: 170px;
}

.svg-cta-next {
    fill: #143642;
    stroke: #B76935;
    stroke-width: 14;
    stroke-miterlimit: 10;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.85);
}

.svg-texte-cta-next {
    fill: #B76935;
}

#icon-cta-next:hover .svg-cercle-cta-next {
    animation-name: anim-cta-next;
    animation-duration: 1000ms;
    animation-timing-function: ease;
    animation-delay: 0s;
}

.svg-cercle-cta-next {
    stroke: #B76935;
    fill: #143642;
    stroke-width: 14;
    stroke-miterlimit: 10;
    filter: drop-shadow(3px 0px 7px #000000);
}

#icon-cta-next:hover .svg-texte-cta-next {
    display: none;
}

@keyframes anim-cta-next {
    from {
        transform: translate(0%, 0%);
    }

    to {
        transform: translate(72%, 0%);
    }
}

#cta-next-defi {
    display: none;
    margin: auto;
}

/*

        Style et animation du call to action pour revenir en arrière

 */
#cta-retour {
    width: 30px;
    fill: #B76935;
}

/*

       Style et animations des éléments des différents éléments de l'escape game

*/

#lieu {
    margin: 0;
    padding: 0;
}

#illu-buffet {
    width: 280px;
    position: absolute;
    top: 233px;
    left: 662px;
    z-index: 10;
}

#nbr-cache {
    font-size: 20px;
    width: 60px;
    position: absolute;
    top: 71px;
    left: 309px;
    color: white;
}

#astuce-cache {
    font-size: 20px;
    width: 100px;
    position: absolute;
    top: 50px;
    right: 200px;
    color: #143642;
}

#astuce-cache:hover {
    animation-name: anime-calcul;
    animation-delay: 0s;
    animation-duration: 500ms;
}

#illu-cadre {
    width: 75px;
    position: absolute;
    top: 50px;
    left: 280px;
}

#illu-cadre:active {
    animation-name: anim-cadre;
    animation-delay: 0s;
    animation-duration: 500ms;
}

@keyframes anim-cadre {
    from {
        transform: translate(0px, 0px);
    }

    to {
        transform: translate(0px, 200px);
    }
}

#trait-entree {
    border: solid 1px black;
    position: absolute;
    top: 313px;
    width: 100%;
}

#illu-nbr {
    width: 300px;
    padding-top: 35px;
}

#illu-plante {
    position: absolute;
    width: 185px;
    top: 175px;
    left: 1057px;
}

#illu-chaussures {
    position: absolute;
    width: 80px;
    top: 280px;
    left: 150px;
}

#illu-fenetres {
    position: absolute;
    width: 230px;
    top: 122px;
    left: 390px;
}

.couleurs-fenetre {
    animation-name: anim-fenetre;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes anim-fenetre {
    25% {
        fill: #b5e4ea;
    }

    50% {
        fill: #6c757d;
    }

    75% {
        fill: #fcdf3b;
    }

    100% {
        fill: #f48c06;
    }
}

#illu-lampe {
    position: absolute;
    width: 100px;
    top: -5px;
    left: 928px;
}

#illu-tapis {
    position: absolute;
    width: 330px;
    top: 338px;
    left: 638px;
}

#calcul {
    font-size: 30px;
    font-family: "Gotham", "Arial";
    position: absolute;
    top: 30px;
    left: 200px;
    width: 100px;
    color: #143642;
}

#calcul:hover {
    animation-name: anime-calcul;
    animation-delay: 0s;
    animation-duration: 500ms;
}

@keyframes anime-calcul {
    from {
        color: #143642;
    }

    to {
        color: white;
    }
}


/*

        Style du mot de passe

*/

.contour-mdp {
    fill: none;
    stroke: #ffc300;
    stroke-width: 15;
    stroke-miterlimit: 10;
}

#colonne-mdp {
    margin: 490px auto 0px auto;
    background-color: #143642;
    width: 881px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 52px;
    border: 3px solid #FFFFFF;
}

#conteneur-mdp {
    padding: 30px;
    width: 300px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #143642;
    color: white;
    font-family: "Gotham", "Helvetica";
}

#conteneur-mdp>p {
    margin-bottom: 4px;
}

.num-mdp {
    width: 200px;
    height: 66px;
    margin: auto;
    background-color: #B76935;
    border: none;
    font-family: "Gotham-Bold", "Helvetica";
    font-size: 50px;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 52px;
    padding-top: 33px;
    outline-style: none;
}

#svg-illu-mdp {
    width: 200px;
}


/*

        Style et animations du pad numérique et des boutons "supprimer" et "valider"

*/

.conteneur-num {
    fill: none;
}

#conteneur-pad-num {
    width: 330px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.num-pad {
    font-family: "Gotham-Bold", "Helvetica";
    font-size: 36px;
    color: #143642;
    margin: 7px;
    padding: 5px;
    width: 70px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
}

.num-pad:hover,
#correction img:hover {
    background-color: #B76935;
}

.num-pad:active,
#correction img:active {
    animation-name: anim-num-pad-active;
    animation-delay: 0s;
    animation-duration: 200ms;
}

@keyframes anim-num-pad-active {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.3);
    }
}


/*

        Style du bouton pour valider le mot de passe inscrit par l'utilisateur

 */

#correction img {
    width: 50px;
    margin-top: 10px;
    border-radius: 25px;
}


/*

        Style des indices

 */

.indices {
    width: 500px;
    position: absolute;
    background-color: #143642;
    text-align: center;
    color: white;
    right: 190px;
    top: -50px;
    border-radius: 15px;
    padding: 5px;
    border: solid 2px #FFFFFF;
}

#indice1 {
    display: none;
}

#indice2 {
    display: none;
}

#indice3 {
    display: none;
}


/*

       "A propos"

*/

#contenu-apropos {
    height: 750px;
    background-color: #143642;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    visibility: hidden;
    z-index: 100;
}

#para1-apropos,
#para2-apropos {
    font-family: "Gotham";
    width: 500px;

}

#para1-apropos {
    margin: 2em 0 0 150px;
}

#para2-apropos {
    margin: 2em 0 0 800px;
}

#titre1-apropos {
    margin: 1em 0 0 130px;
    border-bottom: solid 2px white;
    width: 300px;
}

#titre2-apropos {
    margin: 2em 0 0 750px;
    border-bottom: solid 2px white;
    width: 300px;
}

/*

        Dernière page : Avis

 */

#conteneur-avis {
    background-color: #143642;
    color: white;
    padding: 3rem;
    font-family: "Gotham", "Helvetica";
    margin: 3.5rem auto 0 auto;
    width: 550px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    border-radius: 115px;
    border: solid white 3px;
}

#pseudo {
    width: 149px;
    margin: 0 auto 15px auto;
    background: #B76935;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
    border: none;
    padding: 7px;
}

#message {
    height: 200px;
    width: 398px;
    margin: 0 auto 15px auto;
    background: #B76935;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
    border: none;
    padding: 20px;
}

#pseudo:focus,
#message:focus {
    background-color: #143642;
    border: solid 1px white;
    color: white;
    outline-style: none;
}